$fonts: (
    heading: #{"Big Shoulders Text", cursive},
    subtitle: #{"EB Garamond", serif},
    other: #{"Poppins", sans-serif}
);

$colors: (
    bg: #273361,
    main: #FFD866,
    button: #42AD86
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

@function font($font-name) {
    @return map-get($fonts, $font-name)
}

.hidden {
	display: none !important;
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
  	width: 100%;	
}

main {
	top: 0;
	height: 90%;
	background-color: color(bg);
	font-family: font(heading);
	font-size: 10vh;
}

#start {
    display: flex;
    justify-content: center;
    flex-direction: column;
	height: 100%;

	#heading {
		position: absolute;
		top: 0;
		display: flex;
		align-items: center;
		background-color: color(button);
		color: color(bg);
		width: 100%;
		height: 25vw;
		vertical-align: middle;

		#target-user {
			padding: 50px;
		}
	}


	form {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

        * {
            margin: 20px;
        }

        input {
            border: none;
            border: 3px solid color(button);
            height: 1.5em;
            font-size: 4vh;
            font-family: font(other);
            text-align: center;
            width: 60vw;
        }		

        input:focus {
            outline: 0;
        }

        button {
            height: 6vh;
            border-radius: 2vh;
            width: 40vw;
            border: none;
            text-decoration: none;
            font-size: 4vh;
            font-family: font(other);
            color: black;
        }
	}
}

#wait {
	height: 100%;
}

#play {
	height: 100%;
}

footer {
	height: 10%;
	justify-items: center;
	background-color: color(bg);
	display: grid;
	grid-template-columns: 30% auto 30%;
	border-top: 3px solid color(button);

	.footer {
		font-size: 3vh;
		font-family: font(heading);
		color: color(button);
	}

	#game-code {
		grid-column-start: 1;
		grid-column-end: 2;
	}

	#game-mode {
		grid-column-start: 2;
		grid-column-end: 3;
	}

	#user-name {
		grid-column-start: 3;
		grid-column-end: 4;
	}
}




















