// hide .hidden elements
.hidden {
  display:none !important;
}

body {
  background-color: #273361;
}

#top {
  text-align: center;
  color: #FFD866;
  width: 100%;
  margin: 250px 0 0 0;
}

h1 {
  font-family: "Big Shoulders Text", cursive;
  font-size: 72px;
  margin: 0 0 0 3px;
}

#top+p {
  font-family: "EB Garamond", serif;
}

.press {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 24px;
  font-family: "Big Shoulders Text", cursive;
}

#buttons {
  display: flex;
  justify-content: center;
}

button {
  color: #42AD86;
}

#left, #middle {
  border-right: 1px solid #42AD86;
}

