$fonts: (
    heading: #{"Big Shoulders Text", cursive},
    subtitle: #{"EB Garamond", serif},
    other: #{"Poppins", sans-serif}
);

$colors: (
    bg: #273361,
    main: #FFD866,
    button: #42AD86
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

@function font($font-name) {
    @return map-get($fonts, $font-name)
}

@mixin desktop {
    @media (min-width: 500px) {
        @content;
    }
}

html, body, #top, #items {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#bg {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: color(bg);
    z-index: -1;

    @include desktop {
        clip-path: polygon(0 0, 70% 0, 55% 100%, 0% 100%);
    }
}

#items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    @include desktop {
        height: 100%;
        width: 100%;
        position: absolute;
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-rows: 100%;
        text-align: left;
        grid-auto-flow: column;
        justify-items: start;
    }

    #up {

        * {
            margin: 0;
            padding: 0;
        }

        h1 {
            color: color(main);
            font-family: font(heading);
            font-size: 10vh;
            margin: 0 10px; 
        }

        .subtitle {
            color: color(button);
            font-family: font(subtitle); 
            font-size: 3vh;
        }
    }

    .hidden {
        display: none !important;
    } 
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0 !important;

    button {
        margin: 5px !important; 
        height: 5vh;
        border-radius: 2vh;
        width: 70vw;
        border: none;
        text-decoration: none;
        font-size: 4vh;
        font-family: font(heading);
        text-transform: uppercase;
        background-color: color(button);
        color: white;
    }
}

.card {
    background-color: white;
    border-radius: 2vh;
    padding: 10px !important;
    font-size: 3vh;
    font-family: font(subtitle);
    width: 80vw;
    box-shadow: 3px 3px 10px 1px rgba(23,23,23,1);

    .form-group {
        padding: 5px !important;

        input {
            border: none;
            border-bottom: 1px solid black;
            font-size: 2vh;
            font-family: font(other);
        }

        input:focus {
            outline: 0;
        }
    }

    button {
        height: 5vh;
        border: none;
        text-decoration: none;
        font-size: 3vh;
        font-family: font(other);
    }

    .rules {
        font-size: 2vh;
    }
}





















