// hide .hidden elements
.hidden {
  display:none !important;
}

body {
  background-color: #273361;
}

#top {
  text-align: center;
  width: 100%;
  height: 100%;
}

#items {
  position: relative;
  padding: 12.5%;
}

h1 {
  font-family: "Big Shoulders Text", cursive;
  text-transform: uppercase;
  font-size: 10vh;
  margin: 0;
  vertical-align: middle;
}

.subtitle {
  font-size: 3vh;
  font-family: "EB Garamond", serif;
}
h1, h3, p, .subtitle, label {
  color: #FFD866;
}
p {
  font-size: 2vh;
}

.press {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 36px;
  font-family: "Big Shoulders Text", cursive;
}

#buttons {
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  text-decoration: none;
  font-weight: normal;
}

button {
  color: #42AD86;
}

button:hover, button:focus {
  color: #5FFAC1;
}

button.selected {
  color: #FFD866;
  cursor: default;
}

#slider-left {
  height: 2vh;
  width: 100px;
  background-color: white;
  position: relative;
  top: 0;
  left: 0;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: "EB Garamond", serif;
  text-align: center;
  background-color: #42AD86;
}

.icon-btn {
  &:hover, &:focus {
    color: #8229d6;
  }
}


.title {
  text-transform: uppercase;
}

input.uppercase {
  text-transform: uppercase;
}
::-webkit-input-placeholder { /* WebKit browsers */
  text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  text-transform: none;
}
::placeholder { /* Recent browsers */
  text-transform: none;
}

.error {
  color:red;
}
input[type="text"] {
  height:50px;
  width:200px;
  border-radius:2px;
}